  @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    width:100vw;
}

/* styling first page */

.main{
    background-image: url(/assets/images/bg.jpg);
    height:92vh;
    /* position: relative; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);

}
.main .box{
    height:100vh;
    background-color: black;
    opacity:0.69;
    width:100%;
    position: absolute;
    top:0px;
}
nav{
    display: flex;
    width:75vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height:62px;
}
nav img{
    color: red;
    width: 145px;
    position: relative;
    z-index: 10;
    padding: 29px 0px 0px 0px;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height:calc(100% - 62px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap:10px;
    padding:0 29px;
}
.box+ .hero> :first-child{
    font-weight: 900px;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight:lighter;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 100px;
    font-size: 20px;
    text-align: center;
}
.seperation{
   height:9px;
   background-color: rgb(53, 50, 50);
   opacity: 0.7;
   text-align: center;
   position: relative;
   z-index: 10;
}
.btn{
   padding:3px 8px;
   background-color: rgba(23,23,23,0.7);
   border:1px solid rgba(185, 183, 183, 0.409);
   color: white;
   font-size: 17px;
   padding: 5px 24px;
}
.btn-red{
    background-color: rgb(210 15 15);
    color: white;
    padding: 13px 24px;
    font-size: 23px;
    border-radius: 4px;
    font-weight: 6px;
}
.hero input{
    background-color: rgba(23,23,23,0.7);
    color: white;
    padding: 15px 150px 15px 18px;
    font-size: 20px;
    border-radius: 4px;
    border:1px solid rgba(185, 183, 183, 0.409);
}
.btn-red-sn{
    background-color: rgb(210 15 15);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding: 9px;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}
.top-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding: 29px 0px 0px 0px;
}
.first{
    display:flex;
    color: white;
    justify-content: space-between;
align-items: center;      
    max-width: 70vw;
    margin:auto;
    position: relative;
    text-align: center;
    height: 100%;
    margin:70px auto;
}
@media  screen and (max-width:1279px) {
    .first{
        flex-wrap: wrap;
    }
}
.tv{
    position: relative;
    top:10px;
}
.tv img{
    width:427px;
    position: relative;
    z-index: 10;
}
.tv video{
    right: 2px;
    top: 42px;
    position: absolute;
    width: 419px;
}
.first > div :nth-child(1){
    font-family:'Martel Sans', sans-serif; 
    font-size: 48px;
   
    
} 
.first > div :nth-child(2){
    font-family:'Martel Sans', sans-serif; 
    font-size: 24px;
} 
.pc{
    position: relative;
}
.pc img{
    width:427px;
    position: relative;
    z-index: 10;

}
.pc video{
    right: 85px;
    top: 68px;
    position: absolute;
    width: 261px;
}
.faq{
    background-color: black;
    color: white; 
}

.faq h2{
    position: relative;
    top:40px;
    text-align: center;
    font-size: 48px;
    font-family: 'Martel Sans', sans-serif ;
}
.faqbox{
    position: relative;
    top:26px;
    display: flex;
    justify-content: space-between;
    width:70vw;
    margin: auto;
    background-color: rgba(53, 52, 52, 0.911);
    margin: 14px auto;
    padding: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  ;
    font-size: 25px;
    font-weight: 9px;
    transition: all ease-in-out 0.5s;
}
.faqbox:hover{
    background-color: rgb(81, 79, 79);
}
.faqbox svg{
    filter:invert(1);
}


/* styling footer */
footer{
    color:#b0abab;
    position: relative;
    top:75px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70vw;
    margin: auto;
    color: #b0abab;
    position: relative;
    top:20px;
}
.footer a{
    color: #b0abab;
}
footer>span{
position: relative;
left:219px;
font-size: 25x;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.fobtn{
    width: 105px;
    padding: 4px;
    font-size: 19px;
}
.dohe> span{
    font-size: 20px;
}
.dohe{
    margin: 38px 0px 20px 0px;
}
